.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.FormikField {
  margin: 10px 0;
}

.App {
  /* background: white; */
  border-radius: 10px;
  width: 500px;
  padding: 50px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login {
  position:relative;
 background: url('./bg-login.jpg') ; 
filter: blur(1px);
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;

} 

 .login-content {
   position: absolute;
  /* background-color: rgb(0,0,0);  */
  /* background-color: rgba(0, 0, 0, 0.664) ;  */
    --background: transparent;
  
  }
 
  .login-input{
    
    /* background-color: black; */
    /* color: white; */
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;  
    text-align: center;
   
  }


  .login-item{
    padding-bottom: 2px;
    
    --highlight-color-focused: none;
    border-style:hidden;
   
  }
 
.login-row{
  
  height: 90vh;
  /* padding-bottom: 10%; */
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.user-icon{
  position: relative;
  padding-left: 15px;
  padding-right: -10px;
}

.input-container{
position: absolute;
width: 95%;

}
.icon-container{
position:relative;

}

.login-header{
  color: #d4af37;
padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Intro css */

.intro-slide{
  height: 90vh;
}




/* Dashboard   CSS */



.dashboard-card-img-container{
  
  /* position: absolute; */
  height: 100%;
  /* border-radius:30px !important; */
  /* border-radius: 10px 10px 0px 0px; */
  /* background-image: linear-gradient(to right top, #ff0a6b, #ee334a, #d8492f, #c05919, #a66309, #aa5a03, #ad5001, #b14503, #cf002f, #da0066, #bf00b0, #2d27ff); */

}
.dashboard-card{
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  /* -webkit-box-shadow: 0 10px 6px -6px rgb(109, 103, 103);
     -moz-box-shadow: 0 10px 6px -6px rgb(54, 49, 49);
          box-shadow: 0 10px 6px -6px rgb(46, 42, 42); */
}
.dashboard-card-content{
  display: flex;
  /* position: relative; */
  /* color: white; */

  /* background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.747) ;  */
  background-image:
    linear-gradient(to bottom, rgba(136, 97, 12, 0.884), rgba(202, 159, 17, 0.897))
    ;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.dashboard-card-header{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.dashboard-card-left1{
  height: 40%;
}
.dashboard-card-left2{
  height: 60%;
}
.dashboard-card-right1{
  height: 60%;

}
.dashboard-card-right2{
  height: 40%;

}

.dashboard-grid{
  height: 100vh;
  /* padding: 0px 0px 10px 0px; */
  
}
.dashboard-row-top{
  height: 20%;
}
.dashboard-row-bottom{
  height: 70%;
}

.dashboard-content{
  overflow:hidden;
}
.header{
  background-image:
  linear-gradient(to bottom, rgba(136, 97, 12, 0.884), rgba(202, 159, 17, 0.897));
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
  /* display: flex; */
  /* flex-direction: column; */
}
.dashboard-card-container{
  height: 13vh;
 
}

.dashboard-grid{
  height: 100%;
  padding: 0;
  margin: 0;
}

.dashboard-grid-container{
height: 75vh;
padding: 0;
}

.dashboard-test-button{
  background-image:linear-gradient(to bottom, rgba(136, 97, 12, 0.884), rgba(202, 159, 17, 0.897));
}


/* home css */



.home-card-img-container{
  
  position: absolute;
  height: 100%;
  /* border-radius:30px !important; */
  /* border-radius: 10px 10px 0px 0px; */
  /* background-image: linear-gradient(to right top, #ff0a6b, #ee334a, #d8492f, #c05919, #a66309, #aa5a03, #ad5001, #b14503, #cf002f, #da0066, #bf00b0, #2d27ff); */

}
.home-card, .test-card, .test-card-quetionary-1, .test-card-quetionary-2{
  margin: 0;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  /* -webkit-box-shadow: 0 10px 6px -6px rgb(109, 103, 103);
     -moz-box-shadow: 0 10px 6px -6px rgb(54, 49, 49);
          box-shadow: 0 10px 6px -6px rgb(46, 42, 42); */
}

.home-card-header, .test-card-header {
  background-image:
    linear-gradient(to bottom, rgba(136, 97, 12, 0.884), rgba(202, 159, 17, 0.897));
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;

}
.home-card-content, .test-card-content {
  background-color: rgb(48, 47, 47);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* color: white; */
  z-index: 10;
  /* background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.747) ;  */

}

.home-title-card-header{
  height: 120px;
}

.home-card-content-text, .test-card-content-text {
  color: white;
  padding-top: 10px;
}

.home-title-container, .home-title-card{
  display: flex;
  width: 100%;

}

.home-card-title-header{
  text-align: center;
  padding: 5px;
}


.home-title-content{
  background-image:
  linear-gradient(to bottom, rgba(136, 97, 12, 0.884), rgba(202, 159, 17, 0.897)),
  url('./bg-card.jpg');
  background-size: cover;
  /* border: solid; */
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  
}

.home-title-card-number-number{
  color: white;
}
.home-title-card-title-title{
  color: white;
}

.home-title-card-title, .home-title-card-number{
  text-align: center;

}
.home-title-card{
  margin-bottom: 0;
}
.home-col-title-left{

justify-content:flex-end;
display: flex;
flex-direction: column;
height: 100%;
}

.home-name{
  margin-bottom:0;
  color: rgb(226, 220, 220);
  text-shadow: 2px 2px #4d4b4b54;
}
.home-email{
font-size: 11px;
margin: 0;

}
.no-padding{
  padding: 0;
}

.personalitie-avatar-container{
  padding: 0px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
    background-color: rgba(43, 42, 4, 0.082);
    border-radius: 15px;

}
.personalitie1{
  width: 82px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 15px 15px 15px 15px; */
  /* word-wrap: break-word; */
}

.personalitie-item-link{
  padding: 0;
  margin: 0;
  display:flex;
align-content: center;
  /* width: 100px; */
  text-align: center;
  justify-content: center;
  align-items: center;
flex-direction: column;
  flex-wrap: wrap;
}

.personalities-container{
  /* padding: 10; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(126, 122, 122, 0.24); */
  border-radius: 15px;
}
.personalities-item-div{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 88px;
}
.personalitie-avatar{
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}
.personalitie-name-container{ 
 width: 50px;
  
  /* word-wrap: break-word; */
 /* block-size: fit-content; */
  /* width: fit-content; */
}
.name-personalities{
  color: rgba(255, 255, 255, 0.815);
  margin-top: 0;
  height: 30px;
  font-size: 13px;
  width: fit-content;
  justify-content: center;
  block-size: fit-content; 
  padding-bottom: 7px;
  text-shadow: 1px 1px #4d4b4b54;
text-align: center;
}
.personalities-subtitle{
  font-size: 20px;
  text-align: center;
  font-weight:normal;
  color: rgb(224, 218, 218);
  /* text-shadow: 2px 2px #4d4b4b54; */
}

/* Description Enneagram css */

.description-card-content{
  justify-content: center;
  text-align: center;
  display: flex;
 

}
.description-card-content-container{
height: 100%;
padding: 20px;  
}

/* Test Css */

.test-card-content-container, .test-card-content {
  padding: 0;
}

.test-select{
  background-color: rgb(117, 114, 114);
  color: black;
}
.test-selec-box{
  background-color: white ;
  color: rgb(255, 255, 255);

}

.test-instructions{
  padding: 10px;
  color: rgb(236, 219, 60);
  text-align: center;
}

.test-selection-error{
  padding: 10px;
  color: rgb(219, 52, 52);
  text-align: center;
}
.test-selec-box-option{
  background-color: black;
  color: white;
}



/* profile css */


.perfil-container-top{
  padding-top: 25px;
  display: flex;
  padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  align-items: center;
  
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  }

.perfil-header{
  height: 30vh;
  padding-top: 40px;
  display: flex;
  align-items: center;
  
}
.perfil-title{
  height: 100%;
}

.perfil-avatar{
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
}




/* setting Css */
.settings-item{
  background-image:
  linear-gradient(to bottom, rgba(136, 97, 12, 0.884), rgba(202, 159, 17, 0.897));
border-radius: 22px;
display: flex;
}

.settings-text{
font-weight: bold;
}
.settings-title{
  padding-left: 19px;
  font-weight: bold;
  font-size: 30px;
}
.settings-text-title{
  padding-left: 5px;
  font-weight: bold;
}

.card-title {
 display: flex;
 
 align-items: center;
}

